# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sdf
*.suo

UpgradeLog.htm
Backup/
Default/

# Executables
*.exe
*.out
*.app

# Others
out/
build/
.tags
.tags_sorted_by_file
**xcodeproj/
**dSYM/
test/
*.mk
gyp-mac-tool
pomelo.Makefile
deps/jansson/jansson.Makefile
deps/uv/uv.Makefile
Makefile
tags
Makefile

deps/jansson/win32
